<% var pageTileStr= "", metaKeywordsStr= "", metaDescriptionStr="";
if (document_details.Document) {
pageTileStr= document_details.Document;
}
if (document_details.PageTitle && document_details.PageTitle!=="") {
pageTileStr= document_details.PageTitle;
}
if (document_details.MetaTagKeywords) { 
metaKeywordsStr= document_details.MetaTagKeywords;
}
if (document_details.MetaTagDescription) { 
metaDescriptionStr= document_details.MetaTagDescription;
}
%>
<% include include/main-header %>
<style>
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
	
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "First Name"; }
		td:nth-of-type(2):before { content: "Last Name"; }
		td:nth-of-type(3):before { content: "Job Title"; }
		td:nth-of-type(4):before { content: "Favorite Color"; }
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Porn Name"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; }
	}
	</style>
</head>
<body>
<!-- banner -->
	<% include include/header %>
	<div class="header-bottom">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<h1><%= document_details.Document %></h1>
			</div>
		</nav>
	</div>
	
	<div CLASS="row" STYLE="margin:0px;">
		<div CLASS="col-md-3 col-sm-12">
			<% include include/navigation %>	
		</div>
		<div class="col-md-9 col-sm-12 content" >
			<% if (document_details.Title && document_details.Title!=="") {	%>
				<h3><%= document_details.Title %></h3>
			<% } %>
			<% if(typeof document_details.uploaded_file_uuid !== "undefined" && document_details.uploaded_file_uuid !== null && document_details.uploaded_file_uuid != ""){ %>
				<p><img src="/file/<%= document_details.uploaded_file_uuid %>" class="img-responsive" alt=""/></p>
			<% } else if (typeof document_details.image_path !== "undefined" && document_details.image_path !== null && document_details.image_path != "") { %>
              	<p><img src="<%= document_details.image_path %>" class="img-responsive" alt=""/></p>
			<% } %>
	  		<%- document_details.Body %>
	  		<% if(document_details.Objects){
	  			 for(var i=0; i<document_details.Objects.length; i++){
	  				if(document_details.Objects[i].status==1 || document_details.Objects[i].status=="1"){	%>
	  					<h2><%- document_details.Objects[i].name %></h2>
	  					<%- document_details.Objects[i].content %>
	  		<%		}
	  		     }	  					
	  		   } %>
		</div>
	</div>

<% include include/footer %>